/package-info.class
/TestAgencia.class
/EscenarioGeneraPostulantes.class
/EscenarioListaEmpleadosVacia.class
/EscenarioListaEmpleadosConEmpleado.class
/EscenarioListaEmpleadoresConEmpleador.class
/EscenarioListaEmpleadoresVacia.class
